<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="capaDatos.Properties.Settings.FoodTruckConnectionString"
            connectionString="Data Source=DESKTOP-3UH12RA\SQLEXPRESS;Initial Catalog=FoodTruck;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>