

<!DOCTYPE html>
<html>
<head>
    <title>FULTRO</title>

</head>
<body>
    <div class="container-fluid">
        <header>
            <h1>Food Truck de Hamburguesas</h1>
        </header>
        <nav>
            <ul>
                <li><a href="Default.aspx">Inicio</a></li>
                <li><a href="Menu.aspx">Menú</a></li>
                <li><a href="Contacto.aspx">Contacto</a></li>
            </ul>
        </nav>


    </div>
</body>
</html>


