@{
    ViewBag.Title = "Home Page";
}

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="~/Content/images/loading.gif" alt="" /></div>
    </div>

    <div class="wrapper">
        <!-- end loader -->

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="recipe.html">Recipe</a>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact Us</a>
                    </li>
                </ul>

            </nav>
        </div>

        <div id="content">
            <!-- header -->
            <header>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="full">
                                <a class="logo" href="index.html"><img src="~/Content/images/logo.png" alt="#" style="width:40%" /></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="full">
                                <div class="right_header_info">
                                    <ul>
                                       

                                        <li class="dinone">Contactanos : <img style="margin-right: 12px;margin-left: 12px;" src="~/Content/images/phone_icon.png" alt="#"><a href="#">809-654-3210</a></li>
                                        <li class="dinone"><img style="margin-right: 12px;" src="~/Content/images/mail_icon.png" alt="#"><a href="#">servicios@fultro.com.do</a></li>
                                        <li class="dinone"><img style="margin-right: 12px;height: 21px;position: relative;top: -2px;" src="~/Content/images/location_icon.png" alt="#"><a href="#">Av. Gustavo Mejía Ricart 35, Santo Domingo</a></li>
                                        <li>@Html.ActionLink("LoginAdmin", "LoginAdmin", "Security", new { area = "" }, new { @class = "button_user btn btn-warning" })</li>

                                        <li><img style="margin-right: 12px;" src="~/Content/images/search_icon.png" alt="#"></li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->
            <!-- start slider section -->
            <div class="slider_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="full">
                                <div id="main_slider" class="carousel vert slide" data-ride="carousel" data-interval="5000">
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="slider_cont">
                                                        <h3>Descubre locales<br>que sirven cerca de usted</h3>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                                        <a class="main_bt_border" href="#">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-7">
                                                    <div class="slider_image full text_align_center">
                                                        <img class="img-responsive" src="~/Content/images/Carrusel.png" alt="#" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="slider_cont">
                                                        <h3>Las mejores hamburguesas <br>con los mejores ingredientes</h3>
                                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                                        <a class="main_bt_border" href="#">Order Now</a>
                                                    </div>
                                                </div>
                                                <div class="col-md-7 full text_align_center">
                                                    <div class="slider_image">
                                                        <img class="img-responsive" src="~/Content/images/burger_slide.png" alt="#" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                                        <i class="fa fa-angle-up"></i>
                                    </a>
                                    <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider section -->
            <!-- section -->
            <section class="resip_section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ourheading">
                                <h2>Nuestras Hamburguesas</h2>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="owl-carousel owl-theme">

                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Classic Fultro Cheeseburger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Classic Fultro Cheeseburger</h3>
                                                <h4><span class="theme_color">$</span>400</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Fultro Supreme Burger 2.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Fultro Supreme Burger</h3>
                                                <h4><span class="theme_color">$</span>495</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Spicy Jalapeño Fultro Burger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Spicy Jalapeño Fultro Burger</h3>
                                                <h4><span class="theme_color">$</span>430</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Mushroom Swiss Fultro Burger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Mushroom Swiss Fultro Burger</h3>
                                                <h4><span class="theme_color">$</span>450</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Bacon Lover's Fultro Burger1.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Bacon Lover's Fultro Burger</h3>
                                                <h4><span class="theme_color">$</span>530</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Double Cheese Tower Burger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Double Cheese Tower Burger</h3>
                                                <h4><span class="theme_color">$</span>560</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Crispy Onion Crunch Burger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Crispy Onion Crunch Burger</h3>
                                                <h4><span class="theme_color">$</span>600</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/Mediterranean Delight Burger.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Mediterranean Delight Burger</h3>
                                                <h4><span class="theme_color">$</span>580</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/rs4.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>Sushi Dizzy</h3>
                                                <h4><span class="theme_color">$</span>40</h4>
                                            </div>
                                        </div>
                                        <div class="item">
                                            <div class="product_blog_img">
                                                <img src="~/Content/images/rs5.png" alt="#" />
                                            </div>
                                            <div class="product_blog_cont">
                                                <h3>The Coffee Break</h3>
                                                <h4><span class="theme_color">$</span>50</h4>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="bg_bg">
                <!-- about -->
                <div class="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">
                                    <i><img src="~/Content/images/title.png" alt="#" /></i>
                                    <h2>Sobre Nosostros</h2>
                                    <span>
                                        En Fultro, nuestra pasión es brindar a nuestros clientes una experiencia
                                        <br>gastronómica única a través de hamburguesas deliciosas y de alta calidad.
                                        <br>Desde nuestros humildes comienzos, nos hemos esforzado por destacar entre la multitud,
                                        <br>ofreciendo un menú diverso y sabroso que satisfaga los paladares más exigentes.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                <div class="about_box">
                                    <h3>Mejor comida</h3>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscureContrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard </p>
                                    <a href="#">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 about_img_boxpdnt">
                                <div class="about_img">
                                    <figure><img src="~/Content/images/about-img.jpg" alt="#/"></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end about -->
                <!-- blog -->
                <div class="blog">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">
                                    <i><img src="~/Content/images/title.png" alt="#" /></i>
                                    <h2>Reseñas</h2>
                                    <span>Sobre nuestras hamburguesas</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                                <div class="blog_box">
                                    <div class="blog_img_box">
                                        <figure>
                                            <img src="~/Content/images/Spicy Burguer.png" alt="#" />
                                            <span>02 FEB 2019</span>
                                        </figure>
                                    </div>
                                    <h3>Spicy Barger</h3>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the </p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mar_bottom">
                                <div class="blog_box">
                                    <div class="blog_img_box">
                                        <figure>
                                            <img src="~/Content/images/Bacon Lover.png" alt="#" />
                                            <span>02 FEB 2019</span>
                                        </figure>
                                    </div>
                                    <h3>Bacon Lover</h3>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the </p>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="blog_box">
                                    <div class="blog_img_box">
                                        <figure>
                                            <img src="~/Content/images/Fultro Supreme Burger 2.png" alt="#" />
                                            <span>02 FEB 2019</span>
                                        </figure>
                                    </div>
                                    <h3>Fultro Supreme Burger 2</h3>
                                    <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end blog -->
                <!-- Our Client -->
                <div class="Client">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="title">
                                    <i><img src="~/Content/images/title.png" alt="#" /></i>
                                    <h2>Our Client</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 offset-md-3">
                                <div class="Client_box">
                                    <img src="~/Content/images/client.jpg" alt="#" />
                                    <h3>Roock Due</h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle of text.</p>
                                    <i><img src="~/Content/images/client_icon.png" alt="#" /></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Our Client -->
            </div>
            <!-- footer -->
            <fooetr>
                <div class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class=" col-md-12">
                                <h2>Request  A<strong class="white"> Call  Back</strong></h2>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

                                <form class="main_form">
                                    <div class="row">

                
                                        
                                    </div>
                                </form>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="footer_logo">
                                    <a href="index.html"><img src="~/Content/images/logo.png" alt="logo" /></a>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <ul class="lik">
                                    <li class="active"> <a href="index.html">Home</a></li>
                                    <li> <a href="about.html">About</a></li>
                                    <li> <a href="recipe.html">Recipe</a></li>
                                    <li> <a href="blog.html">Blog</a></li>
                                    <li> <a href="contact.html">Contactanos</a></li>
                                </ul>
                            </div>
                            <div class="col-md-12">
                                <div class="new">
                                    <h3>Newsletter</h3>
                                    <form class="newtetter">
                                        <input class="tetter" placeholder="Your email" type="text" name="Your email">
                                        <button class="submit">Subscribe</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="copyright">
                        <div class="container">
                            <p>© 2019 All Rights Reserved. Design by<a href="https://html.design/"> Free Html Templates</a></p>
                        </div>
                    </div>
                </div>
            </fooetr>
            <!-- end footer -->

        </div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->

</body>




